%h1 Доступные графики:
%a{:href => '/pie'} График №1 (Highcharts)
%br
%a{:href => '/pie_morris'} График №1 (Morris)
%br
%a{:href => '/bar'} График №2 (Highcharts)
%br
%a{:href => '/bar_morris'} График №2 (Morris)
%br
%a{:href => '/table'} Таблица
%br
%a{:href => '/quote'} Котировки