%table.tablesorter{:cellspacing => "1"}
  %thead
    %tr
      %th имя
      %th фамилия
      %th возраст
      %th итого
      %th скидка
      %th дата
  %tbody
    %tr
      %td петр
      %td сидоров
      %td 28
      %td $9.99
      %td 20%
      %td jul 6, 2006 8:14 am
    %tr
      %td иван
      %td хайкин
      %td 33
      %td $19.99
      %td 25%
      %td dec 10, 2002 5:14 am
    %tr
      %td николай
      %td котов
      %td 18
      %td $15.89
      %td 44%
      %td jan 12, 2003 11:14 am
    %tr
      %td борис
      %td арнов
      %td 45
      %td $153.19
      %td 44%
      %td jan 18, 2001 9:12 am
    %tr
      %td борис
      %td егоров
      %td 22
      %td $13.19
      %td 11%
      %td jan 18, 2007 9:12 am